services:
  - type: web
    name: legalvault-backend
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRE
        value: 7d
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        sync: false
